
<div class="jumbotron">
    <div class="row">
        
    <div class="col-12 text-center">
       <hr class="my-2">
       <h1 >{{livre.titre}}</h1>
       <hr class="my-2">
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4  text-center" >
        <img src={{livre.image}} class="img-fluid " alt="">
        <h5  ><ins>Auteur de l'ouvrage:</ins></h5>
        <p class="lead ">
            {{livre.auteur}}
        </p>
        <p class="lead ">
            <a class="btn btn-danger btn-lg " href={{livre.lien}} target="_blank" role="button">Télécharger le Livre</a>
        </p>
        
    </div>

    <div class="col-xs-12 col-md-6 col-lg-8" >
        <h3><ins>Présentation du livre:</ins></h3>
        <p class="text-justify">{{livre.presentation}}</p>
        <h3> <ins>Sommaire:</ins> </h3>
        <p class="text-justify" >{{livre.sommaire}}</p>
    </div>
    <div class="col-xs-0 col-md-6 col-lg-4">
        
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8">
        
    </div>
    
</div>
</div>