 <nav class="navbar navbar-expand-lg navbar-dark  sticky-top  ">
        <a class="navbar-brand" routerLink="accueil" routerLinkActive="active" > <img src="../../../assets/images/logo.png" alt=""> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsivee">
             <span class="navbar-toggler-icon"></span>
        </button>
     <div class="collapse navbar-collapse" id="navbarResponsivee">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link text-center " routerLink="accueil" routerLinkActive="active" >Acceuil </a>
        </li>
        <li class="nav-item text-center " >
          <a class="nav-link " routerLink="annee1" routerLinkActive="active" >1ère Année</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link " routerLink="annee2" routerLinkActive="active"  >2ème Année</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link " routerLink="annee3" routerLinkActive="active" >3ème Année</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="livres" routerLinkActive="active">Livres </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="concours" routerLinkActive="active">Concours </a>
        </li>
      </ul>
      </div>
  </nav>  
 