.display-4{
    color:rgba(0,54,121,0.97);  
}
.course-title{
    font-weight: bold;
    font-size: 49px !important;
    color: rgba(0,54,121,0.97);
}
.course-subtitle {
        color: #0064df;
        font-weight: 200;
        font-size: 34px;
}
.text-center{
    background-color: lightgray;
}
