<div class="jumbotron text-center " >
      <hr class="my-2">
      <h1 class="course-title">{{module.titre}}</h1>
      <hr class="my-2">
      <p class="course-subtitle">Apprendre Facilement le module {{module.titre}}</p>
      <p class="course-subtitle"> Voici les parties traitées: {{module.descp}}</p>
      <hr class="my-2">
</div>   

 <div class="container">
  <div class="row">
    <div class="col-12">
        <app-formation-pdf [module]="module" [TypeFormation]="'CoursPDF'"></app-formation-pdf>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <app-formation-pdf  [module]="module" [TypeFormation]="'TdPDF'"></app-formation-pdf>
     </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-formation-pdf  [module]="module" [TypeFormation]="'ExamPDF'"></app-formation-pdf> 
    </div>
  </div>
  <div class="row">
     <div class="col-12">
         <h1 class="display-4" >Formation VIDEOS</h1>
     </div>
     <div class="col-12 text-center" style="margin:10px;">
       <button type="button" (click)="GoToDetailModuleVIDEOS()" class="btn  btn-danger btn-lg " style="margin: 50px;">Commencer la formation</button>
     </div>
  </div>  
 </div>