.display-4{
    color:rgba(0,54,121,0.97);
}
.list-group-item{
    background: rgb(248, 248, 248);
     color: #004dac;
}
.list-group-item:hover{
    background: #f5d7e0;
    text-decoration: none ;
}
